src/*kernel
src/pixel_kernel
src/emu_config
src/sdcard*
android-data
**/ccsetup/libs
**/ccsetup/obj
recovery
capture/frida/captures/eval/*dump*
share/*
!share/ccsetup
!share/frida-server-*
!share/tcpdump
!share/Signal-Android-*
capture/frida/captures/eval/backup_demo/
capture/frida/captures/eval/eval_raw
capture/frida/captures/eval/pmc_websocket_example/
capture/frida/captures/eval/pmc_working_dissectors/
capture/frida/captures/eval/working_tls_exfil/
